/* property.css */

.coverPage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.viewMoredetails ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 20px;
}

.viewMoredetails li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  margin: 0 10px;
}

.licolor {
  background-color: #3498db; /* Light blue */
  color: white;
}

.nonDisplay {
  display: none;
}

.detailOfthepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-container {
  width: 100%;
  max-width: 600px; /* Adjust based on your preference */
  margin-bottom: 20px;
}

.Img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.more, .iframe, .floorPlan {
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.iframe, .floorPlan {
  width: 100%;
  max-width: 800px; /* Adjust based on your preference */
  height: auto;
}

.floorPlan {
  max-height: 500px; /* Adjust based on your preference */
  object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
  .viewMoredetails ul {
    flex-direction: column;
  }

  .viewMoredetails li {
    margin-bottom: 10px;
  }

  .iframe, .floorPlan {
    width: 90%;
  }
}
